[submodule "mixed-messages-codecademy-project"]
	path = Mixed-Messages-codecademy-project
	url = https://github.com/elnaddar/Mixed-Messages-codecademy-project

[submodule "message-mixer-codecademy-project-nodejs"]
	path = message-mixer-codecademy-project-nodejs
	url = https://github.com/elnaddar/message-mixer-codecademy-project-nodejs

[submodule "find-your-hat-codecademy-project-nodejs"]
	path = find-your-hat-codecademy-project-nodejs
	url = https://github.com/elnaddar/find-your-hat-codecademy-project-nodejs

[submodule "film-finder-codecademy-project-nodejs"]
	path = film-finder-codecademy-project-nodejs
	url = https://github.com/elnaddar/film-finder-codecademy-project-nodejs

[submodule "quote-api-codecademy-project-nodejs"]
	path = quote-api-codecademy-project-nodejs
	url = https://github.com/elnaddar/quote-api-codecademy-project-nodejs

[submodule "boss-machine-codecademy-project-nodejs"]
	path = boss-machine-codecademy-project-nodejs
	url = https://github.com/elnaddar/boss-machine-codecademy-project-nodejs

[submodule "personal-budget-codecademy-project-nodejs"]
	path = personal-budget-codecademy-project-nodejs
	url = https://github.com/elnaddar/personal-budget-codecademy-project-nodejs

[submodule "inventory-database-codecademy-postgresql"]
	path = inventory-database-codecademy-postgresql
	url = https://github.com/elnaddar/inventory-database-codecademy-postgresql

[submodule "data-exchange-service-codecademy-postgres-roles"]
	path = data-exchange-service-codecademy-postgres-roles
	url = https://github.com/elnaddar/data-exchange-service-codecademy-postgres-roles

[submodule "intermediate-book-store-indexes-codecademy-postgresql"]
	path = intermediate-book-store-indexes-codecademy-postgresql
	url = https://github.com/elnaddar/intermediate-book-store-indexes-codecademy-postgresql
	
[submodule "database-normalization-at-freds-furniture-codecademy-postgresql"]
	path = database-normalization-at-freds-furniture-codecademy-postgresql
	url = https://github.com/elnaddar/database-normalization-at-freds-furniture-codecademy-postgresql	

[submodule "authentication-project-nodejs"]
	path = authentication-project-nodejs
	url = https://github.com/elnaddar/authentication-project-nodejs