[submodule "mixed-messages-codecademy-project"]
	path = Mixed-Messages-codecademy-project
	url = https://github.com/elnaddar/Mixed-Messages-codecademy-project

[submodule "message-mixer-codecademy-project-nodejs"]
	path = message-mixer-codecademy-project-nodejs
	url = https://github.com/elnaddar/message-mixer-codecademy-project-nodejs

[submodule "find-your-hat-codecademy-project-nodejs"]
	path = find-your-hat-codecademy-project-nodejs
	url = https://github.com/elnaddar/find-your-hat-codecademy-project-nodejs

[submodule "film-finder-codecademy-project-nodejs"]
	path = film-finder-codecademy-project-nodejs
	url = https://github.com/elnaddar/film-finder-codecademy-project-nodejs

[submodule "quote-api-codecademy-project-nodejs"]
	path = quote-api-codecademy-project-nodejs
	url = https://github.com/elnaddar/quote-api-codecademy-project-nodejs

[submodule "boss-machine-codecademy-project-nodejs"]
	path = boss-machine-codecademy-project-nodejs
	url = https://github.com/elnaddar/boss-machine-codecademy-project-nodejs